* { 
	font-family: sans-serif;
}

body {
	margin: 20px;
}

a {
	font-weight: bold;
}

a:hover {
	color: red;
}

label {
	display: block;
}

input {
	padding: 10px;
	width: 300px;
}

button {
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bold;
}